html {
    font-family: Noto Serif;
    font-size: 36px;
}

p {
    margin-bottom: 0;
}

.part p {
    margin: .5rem 0 0 .75rem;
}

.part:hover{
    cursor: pointer;
}

.container-fluid {
overflow: hidden;
}

.serial {
    height: 47vh;
    background-color: rgb(57,57,57);
    color: rgb(250,220,200);
}

.social {
    height: 47vh;
    background-color: rgb(5,24,31);
    color: rgb(228,228,228);
}

.copyright {
    font-size: .5rem;
    height: 6vh;
    background-color: rgb(20,20,20);
    color: rgb(228,228,228);
}

/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
.slide-in-left {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-bottom {
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
